<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
    <style>
        body {
            background-color: #070811;
            min-height: 100vh;
        }
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
        }
        h1 {
            color: #36A6B6;
            margin-bottom: 30px;
        }
        img {
            width: 800;
            height: 600;
        }
    </style>
</head>
<body>
    <div>
        <h1>Detected potential danger: {{ data["0"] }}</h1>
        <img src="/video_feed_0">
    </div>
</body>
</html>